<main>
  <div class="container">
    <h1>Victor To-Do List</h1>
    <div class="error-message">Error deleting “Buy eggs.” Please try again.</div>
    <div class="panel">
      <ul class="list">
        <li class="list-item" *ngFor="let task of taskListData">
          <label class="list-item-label checkbox">
            <input class="checkbox-input" type="checkbox"><span class="checkbox-indicator"></span><span
              class="checkbox-description">{{task.name}}</span>
          </label>
          <button class="list-item-action btn">X</button>
        </li>
      </ul>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="New task">
      <button class="btn btn-secondary">+</button>
    </div>
  </div>
</main>